<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="nl.avans.mbd1.s2063041" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" versionCode ="1">
  <name>Pokebush</name>
  <description>
        The Pokemon game you have been waiting for!
    </description>
  <author email="you@example.com" href="http://example.com.com/">
      Conno Boel and Erik Vink
    </author>
  <content src="index.html"/>
  <plugin name="org.apache.cordova.geolocation" spec="0.3.12" source="pgb" />
  <plugin name="org.apache.cordova.vibration" spec="0.3.13" source="pgb" />
  <allow-intent href="*" />
  <allow-navigation href="*" />
  <access origin="*" subdomains="true" />
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <feature name="http://api.phonegap.com/1.0/geolocation"/>
  <platform name="android">
    <icon src="resources/icon.png" />
    <splash src="resources/splash.png"/>
  </platform>
</widget>
